<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loteria Mexicana</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h1>Loteria</h1>

        {% set variable = namespace(contador = 1) %}

        {% for i in range(5) %}
        
            {{variable.contador}}
            
            {% set variable.contador = variable.contador + 1 %}
        {% endfor %}    

    </div>

</body>
</html>